*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.back{
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
}


@import "./hero";
@import "./homepage";
@import "./about";
@import "./hamburger";